// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


//@include font-face("geometria","#{$base-url}fonts/Geometria.otf");
//@include font-face("latoreg","../../fonts/Lato-Regular.ttf");

/**/
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: montserat;
  src: local(mon),
  url("#{$base-url}fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}