doctype html
html
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(name="description" content= content)
        block head_end
        link(href = "slick/slick.css", rel = "stylesheet", type="text/css")
        link(href = "slick/slick-theme.css", rel = "stylesheet", type="text/css")
        link(rel="stylesheet" href="/css/style.css")
    body
        <!--[if lte IE 9]>
        p(class="browserupgrade") You are using an #[strong outdated] browser. Please #[a(href="https://browsehappy.com") upgrade your browser] to improve your experience and security.
        <![endif]-->
        block content

        block body_end
        script(src="//code.jquery.com/jquery-1.11.0.min.js", type="text/javascript")
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js", type="text/javascript")
        script(src="slick/slick.min.js", type="text/javascript")
        script.
          $('.slide_top').slick({
            infinite: true,
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1

          });
        script.
          window.ga = function () {ga.q.push(arguments)}; ga.q = []; ga.l = +new Date;
          ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview');
        script(src="https://www.google-analytics.com/analytics.js" async defer)